@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

body {
    background-image: url("../img/dynamic.png");
}

			
			body {
				width: 90%;
				margin: 0 auto;}
			#content {
				overflow: auto;}
			#nav, #feature, #footer {
				margin: 1%;}
			.column1, .column2, .column3 {
				width: 31.3%;
				float: left;
				margin: 1%;}
			.column3 {
				margin-right: 0%;}
			li {
				display: inline;
				padding: 0.5em;}
			#nav, #footer {
				background-color: #efefef;
				padding: 0.5em 0;}
			#feature, .article {
				height: 10em;
				margin-bottom: 1em;
				background-color: #efefef;}

#home-box{
  height: 50px; 
  width: 75px;
  background-color: #000; 
  color: #FB8C00; 
  font-family: Montserrat; 
  position: fixed;
  bottom: 15%; 
  right: 0px; 
}
		